<!-- templates/patients/details.html-->

{% extends "base.html" %}
{% block title %}Fiche du patient{% endblock %}

{% block content %}

<div id="patient-details">

    <!-- Global card for patient -->
    <div class="card mb-4 border-1 shadow-sm">
        <div class="card-body">
            <div class="row g-3">

                <!-- Patient's details - Left side -->
                <div class="col-md-6">
                    <div class="card h-100 bg-light border-0">
                        <div class="card-header bg-success text-white">
                            <strong>{{ patient.lastname }} {{ patient.firstname }}</strong>
                        </div>
                        <div class="card-body">
                            <p class="mb-1"><strong>Date de naissance : </strong>{{ patient.birthdate }}</p>
                            <p class="mb-1"><strong>Notes : </strong>{{ patient.notes or "Aucune" }}</p>
                        </div>
                    </div>
                </div>

                <!-- Patient's comorbidities - Right side -->
                <div class="col-md-6">
                    <div class="card h-100 bg-light border-0">
                        <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                            <span>Comorbidités</span>
                            <button class="btn btn-sm btn-light"
                                    hx-get="/patients/{{patient.id}}/comorbidities/edit" 
                                    hx-target="#manage-comorbidities-form"
                                    hx-swap="innerHTML"
                                    hx-on::after-request="new bootstrap.Modal(document.getElementById('comorbiditiesModal')).show()">
                                    Gérer
                            </button>
                        </div>
                        <div id="patient-comorbidities" class="card-body">
                            {% include "patients/comorbidities_list.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Patient's measurements  -->
    {% include "patients/measurements_tab.html" %}

    <!-- Patient's meal plans -->
    <div class="card mb-4 border-0 shadow-sm">
        <h6 class="mb-2 p-1">Plans alimentaires</h6>
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <thead class="table-secondary">
                    <tr>
                        <th>Numéro</th>
                        <th>Date de début</th>
                        <th style="width: 100px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for meal_plan in meal_plans %}
                    <tr>
                        <td>{{ meal_plan.id }}</td>
                        <td>{{ meal_plan.start_date }}</td>
                        <td>
                            <a href="/meal_plans/{{ meal_plan.id }}" class="btn btn-sm btn-info"><i class="bi bi-eye"></i></a>
                            <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Form to manage comorbidities -->
<div class="modal fade" id="comorbiditiesModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="manage-comorbidities-form"></div>
    </div>
</div>

<!-- Form to manage measurements -->
<div class="modal fade" id="measurementsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="manage-measurements-form"></div>
    </div>
</div>

{% endblock %}