<!-- templates/patients/details.html-->

{% extends "base.html" %}
{% block title %}Fiche du patient{% endblock %}

{% block content %}

<div id="patient-details">
    <div class="card p-3 mb-4">
        <div id="patient-infos" class="p-3 mb-4">
            <p class="mb-1"><strong>Name : </strong>{{ patient.lastname }}</p>
            <p class="mb-1"><strong>Prénom : </strong>{{ patient.firstname }}</p>
            <p class="mb-1"><strong>Date de naissance : </strong>{{ patient.birthdate }}</p>
            <p class="mb-1"><strong>Notes : </strong>{{ patient.notes }}</p>
        </div>
        <div id="patient-comorbidities" class="mb-4">
            <h5>Comorbidités</h5>
            <ul>
                {% for comorbidity in comorbidities %}
                <li>{{ comorbidity.comorbidity.name }}</li>
                {% endfor %}
            </ul>
            <button class="btn btn-success mb-3"
                    hx-get="/patients/{{patient.id}}/comorbidities/edit" 
                    hx-target="#manage-comorbidities-form"
                    hx-swap="innerHTML"
                    hx-on::after-request="new bootstrap.Modal(document.getElementById('comorbiditiesModal')).show()">
                    Gérer
            </button>
        </div>
    </div>
    <div id="patient-measurements" class="mb-4">
        <table class="table table-hover">
            <h5>Mesures du patient</h5>
            <thead class="table-dark">
                <tr>
                    <th>Taille</th>
                    <th>Poids</th>
                    <th>Date de prise</th>
                </tr>
            </thead>
            <tbody>
                {% for measure in measurements %}
                <tr>
                    <td>{{ measure.height }}</td>
                    <td>{{ measure.weight }}</td>
                    <td>{{ measure.record_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="patient-foodplan" class="mb-4">
        <table class="table table-hover">
            <h5>Plan alimentaire du patient</h5>
            <thead class="table-dark">
                <tr>
                    <th>Numéro</th>
                    <th>Date de début</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for meal_plan in meal_plans %}
                <tr>
                    <td>{{ meal_plan.id }}</td>
                    <td>{{ meal_plan.start_date }}</td>
                    <td>
                        <a href="/meal_plan/{{ meal_plan.id }}" class="btn btn-sm btn-info">Voir</a>
                        <button class="btn btn-sm btn-danger">Supprimer</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Form to manage comorbidities -->
<div class="modal fade" id="comorbiditiesModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="manage-comorbidities-form"></div>
    </div>
</div>

{% endblock %}