<!-- templates/patients/list.html -->

<table class="table table-hover">
    <thead class="table-secondary">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.lastname }}</td>
            <td>{{ patient.firstname }}</td>
            <td>{{ patient.birthdate }}</td>
            <td>
                <a href="/patients/{{ patient.id }}" class="btn btn-sm btn-info"><i class="bi bi-eye"></i></a>
                <button hx-get="/patients/{{ patient.id }}/edit"
                        hx-target="#patient-form"
                        hx-swap="innerHTML"
                        hx-on::after-request="new bootstrap.Modal(document.getElementById('patientModal')).show()"
                        class="btn btn-sm btn-success">
                    <i class="bi bi-pencil"></i>
                </button>
                <button hx-get="/patients/{{ patient.id }}/delete" 
                        hx-target="#confirmation-popup-patient-deletion"
                        hx-swap="innerHTML"
                        hx-on::after-request="new bootstrap.Modal(document.getElementById('ConfirmationPatientModal')).show()"
                        class="btn btn-sm btn-danger">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>