<!-- templates/patients/measurements_tab.html -->

<div id="measurements-table" class="card mb-4 border-0 shadow-sm">
    <h6 class="mb-2 p-1">
        Mesures du patient
        <button class="btn btn-success rounded-circle"
                style="width: 28px; height: 28px; padding: 0"
                hx-get="/patients/{{ patient.id }}/measurements/new" 
                hx-target="#manage-measurements-form"
                hx-swap="innerHTML"
                hx-on::after-request="new bootstrap.Modal(document.getElementById('measurementsModal')).show()">
            <i class="bi bi-plus text-white"></i>
        </button>
    </h6>
    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead class="table-secondary">
                <tr>
                    <th>Taille</th>
                    <th>Poids</th>
                    <th>Date de prise</th>
                    <th style="width: 100px;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for measure in measurements %}
                <tr>
                    <td>{{ measure.height }}</td>
                    <td>{{ measure.weight }}</td>
                    <td>{{ measure.record_date }}</td>
                    <td>
                        <button hx-get="/patients/{{ patient.id }}/measurements/{{ measure.id }}/edit" 
                                hx-target="#manage-measurements-form"
                                hx-swap="innerHTML"
                                hx-on::after-request="new bootstrap.Modal(document.getElementById('measurementsModal')).show()"
                                class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button hx-delete="/patients/{{ patient.id }}/measurements/{{ measure.id }}" 
                                hx-target="#measurements-table"
                                hx-swap="outerHTML"
                                class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>