<!-- templates/meal_plans/details.html -->

{% extends "base.html" %}
{% block title %}Détails d'un plan alimentaire{% endblock %}

{% block content %}

<a href="/patients/{{ patient.id }}" class="btn btn-outline-secondary btn-sm mb-3">
    <i class="bi bi-arrow-left"></i> Retour
</a>

<div class="card mb-4 border-1 shadow-sm col-md-5">
    <div class="card-body">
        <p class="mb-1"><strong>Date de création du plan : </strong>{{ plan.start_date }}</p>
        <p class="mb-1"><strong>Patient : </strong>{{ patient.lastname }} {{ patient.firstname }}</p>
        <p class="mb-1"><strong>Date de naissance : </strong>{{ patient.birthdate }}</p>
        <p class="mb-1"><strong>Notes : </strong>{{ patient.notes or "Aucune" }}</p>
    </div>
</div>

<div class="d-flex align-items-center gap-2 mb-4">
    <h5 class="mb-0">Tableau du plan alimentaire</h5>
    <button class="btn btn-success btn-sm"
        hx-get="/meal_plans/{{ plan.id }}/foods/new" 
        hx-target="#foods-form"
        hx-swap="innerHTML"
        hx-on::after-request="new bootstrap.Modal(document.getElementById('foodsModal')).show()">
        <i class="bi bi-plus-circle"></i> Ajouter
    </button>
</div>

<!-- Foods table  -->
<div id="meal-plan-table">
    {% include "meal_plans/foods_table.html" %}
</div>

<!-- Form to add food -->
<div class="modal fade" id="foodsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="foods-form"></div>
    </div>
</div>

{% endblock %}