<!-- templates/dashboard.html -->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<button class="btn btn-success mb-3"
        hx-get="/patients/new" 
        hx-target="#patient-form"
        hx-swap="innerHTML"
        hx-on::after-request="new bootstrap.Modal(document.getElementById('patientModal')).show()">
    Nouveau patient
</button>

<!-- List of patients -->
<div id="patient-list" 
    hx-get="/patients"
    hx-trigger="load"
    hx-swap="innerHTML">
</div>

<!-- Form to create/modify a patient -->
<div class="modal fade" id="patientModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="patient-form"></div>
    </div>
</div>

<!-- Confirmation popup to delete a patient -->
<div class="modal fade" id="ConfirmationPatientModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="confirmation-popup-patient-deletion"></div>
    </div>
</div>

{% endblock %}
